<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :article %>
    <%= f.text_field :article %>
  </div>

  <div class="field">
    <%= f.label :author_id %>
    <%= collection_select(:post, :author_id, Author.all, :id, :name, prompt: true) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
